# Loop Statements

1. For Loop

In [1]:
fruits = ["apple", "banana", "cherry"]

In [3]:
for i in fruits:
    print(f"Fruit = {i}")

print("Completed")

Fruit = apple
Fruit = banana
Fruit = cherry
Completed

In [5]:
for ch in "22/7":
    print(ch)

2
2
/
7

2. Range

In [6]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(5,0,-1):
    print("*" * i)

*****
****
***
**
*

# Nested For Loops

In [28]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]


for a in adj:
    for f in fruits:
        print(a,f)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Multiple Args In For Loop

In [1]:
person = {
    "name" : "Vince",
    "age" : 30,
    "gender" : "Male"
}

person_list = person.items()
person_list

dict_items([('name', 'Vince'), ('age', 30), ('gender', 'Male')])

In [2]:
for each in person_list:
    print(each)

('name', 'Vince')
('age', 30)
('gender', 'Male')

In [4]:
for (key, value) in person_list:
    print(f"Key : (key) = (value)")

Key : (key) = (value)
Key : (key) = (value)
Key : (key) = (value)

In [5]:
coord = [ [1,2,3], [4,5,6], [2,3,4]]
print(coord)

[[1, 2, 3], [4, 5, 6], [2, 3, 4]]

In [11]:
for (x, y, z) in coord:
    print(x, y, z)

1 2 3
4 5 6
2 3 4

# Multiplication Table of 5

In [25]:
num= int(input("Enter any number "))

for i in range(1,11,1):
    print(f"{num} * {i} = {i*num} ")

Enter any number  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# Separate odd and even number

In [28]:
numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89]

In [41]:
odd = []
even = []
for i in numbers:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print("Even numbers are", even)
print("Odd numbers are", odd)

Even numbers are [2, 6, 8, 68, 0, 12, 4, 6, 66, 32]
Odd numbers are [5, 3, 7, 33, 5, 9, 101, 55, 89]